Repository LuisAyazo/style2door: changes, and which Drone steps are due for each by the changed paths.
All: fr, test, es-en

.drone.yml:

kind: pipeline
type: docker
name: greeting

steps:
- name: en
  image: alpine
  commands:
    - echo 'hello beautiful world :kiss'

- name: es-mx
  image: alpine
  commands:
  - echo hola wey

- name: es-co
  image: alpine
  commands:
  - echo que mas primo - cartagena

- name: fr
  image: alpine
  commands:
  - echo bonjour monde
  when:
    branch:
    - develop
    paths:
      exclude:
        - .drone.yml

- name: es-es
  image: alpine
  commands:
  - echo hola tio

- name: test
  image: node:10
  commands:
  - npm install mocha -g
  - npm test
  when:
    branch:
    - develop
    paths:
      exclude:
        - .drone.yml


- name: es-en
  image: alpine
  commands:
  - echo hola tio welcome
  when:
    paths:
      exclude:
        - .drone.yml
        - directorio_test/*

- name: es
  image: alpine
  commands:
  - echo Hola mundo loco
  depends_on:
  - en
  - fr

- name: catalan
  image: alpine
  commands:
  - echo Hola mundo loco
  depends_on:
  - en
  - fr

ADD: new folder
  .drone.yml
Due: none

ADD: new folder
  .drone.yml
  build_apk.sh
Due: fr, test, es-en

ADD: new folder
  build_apk.sh
Due: fr, test, es-en

ADD: new folder
  .drone.yml
  test/test.js
Due: fr, test, es-en

ADD: new folder
  test/test.js
Due: fr, test, es-en

ADD: new folder
  directorio_test/info.yml
Due: fr, test
